h1{
    color:rgb(15, 15, 161); 
  
}
h2{
    color:rgb(114, 52, 185)
}
*{
    background-color:burlywood
}
.header{
    display : flex ;
    justify-content : space-between
}

.menu{
    display : flex ;
    justify-content : space-between;
    
}
.grid{
    display : flex;
    flex-wrap : wrap;
    border-radius : 50px;
    
}

.origami{
    border-radius : 20px;
    width:310px;
    font-family : fantasy
    
}

    
